html {
    font-size: 25px;
}

body {
    background-color: #333;
    color: whitesmoke;
}

a {
    color: aliceblue;
}

a:visited {
    color: lightgrey;
}

a:hover, a:active {
    color: #eee;
}

* {
    font-family: Arial, Calibri, sans-serif;
  }
  